<%- include('./partials/head') %>


    <section class="menu-bar">
        <h1>Smartzones</h1>

        <% smartzones.forEach(smartzone => { %>
            <article class="sz-card">
                <div class="card-left-side">
                    <img src="<%- smartzone.image[0].url %>" alt="Foto van smartzone <%= smartzone.name %>">
                </div>

                <div class="card-right-side">
                    <% if (smartzone.reservation === null) { %>
                    <p>Now available</p> <!-- Icon toevoegen -->
                        <% } else { %>
                    <p>Occupied</p> <!-- Icon toevoegen -->
                    <% } %>
                    <!-- Icon hartje toevoegen -->
                    <h2>SZ <%= smartzone.name %></h2>

                    <p><%= smartzone.address %>, <%= smartzone.town %></p>

                    <p><span>Price:</span> € 1,00 / 15 min</p> <!-- Voor nu hard code omdat die gegevens nog ontbreken -->

                    <div class="buttons">
                        <button>Book now</button>
                        <button>Book later</button>
                    </div>
                </div>
            </article>
        <% }) %>
    </section>
    
    <section class="map">
        <img src="assets/img/placeholder-kaart.jpg" alt="">
    </section>


<%- include('./partials/nav') %>

<%- include('./partials/foot') %>